/* Team Container Styling */
.team-container {
  text-align: center;
  padding: 40px 20px;
}


.headline {
  margin-bottom: 40px;
  /* padding: 0 20px; */
}
.teamhead{
  margin-left: 40px;
}
.tagline p {
  color: #555;
}
.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

/* Team Member Card Styling */
.team-member-card {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 100%;
  max-width: 300px; 
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.team-member-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, rgba(68, 78, 115, 0.7), rgba(0, 0, 0, 0));
}

.team-member-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.team-content {
  position: relative;
  padding: 20px;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-name {
  font-size: 1.2em;
  margin: 0;
  color: white !important;
}

.card-title {
  font-size: 0.9em;
  margin: 5px 0 0 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
  }

  .team-member-card {
    max-width: 200px;
    height: 350px;
  }

  .team-content {
    padding: 15px;
  }

  .card-name {
    font-size: 1.1em;
  }

  .card-title {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .teamhead {
    margin-left: 0;
  }

  .team-members {
    grid-template-columns: 1fr; 
    gap: 10px;
  }

  .team-member-card {
    width: 100%;
    max-width: 100%;
    /* height: auto; */
  }

  .team-content {
    padding: 10px;
  }

  .card-name {
    font-size: 1em;
  }

  .card-title {
    font-size: 0.8em;
  }
}
