.section-container {
  padding: 40px 55px;
}

.headline {
  margin-bottom: 20px;
}

.tagline p {
  display: inline-block;
  padding: 8px 12px;
  background-color: #070b0f;
  color: white !important;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: lighter;
}

.headline h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #070b0f;
}

.headline p {
  font-size: 1.1rem;
  color: #7f8c8d;
  max-width: 800px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  overflow-x: auto; 
    -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.cards::-webkit-scrollbar {
  display: none; 
}

.features-tagline {
  font-size: 1.2rem;
  color: #153F6D;
  font-weight: bold;
  margin-bottom: 10px;
}

.features-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  gap: 64px;
  width: 363px;
  height: 480px;
  background-blend-mode: normal, lighten, normal, normal;
  border-radius: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 3;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  color: white;
  width: 430px;
  height: 400px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0; /* Prevent shrinking of cards */
}

.features-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(210.76deg, rgba(41, 118, 199, 0) 42.69%, rgba(41, 118, 199, 0.5) 99.95%), linear-gradient(0deg, rgba(11, 57, 102, 0.4), rgba(11, 57, 102, 0.4));
  z-index: 0;
  border-radius: 20px;
  background-blend-mode: normal, lighten, normal, normal;
}

.features-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 28px;
  gap: 32px;
  width: 339px;
  height: 340px;
  z-index: 1;
}

.features-card-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 283px;
  height: 202px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.features-card-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 10px;
  color: black;
  width: 139px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 500px;
}

.features-card-title {
  width: 283px;
  height: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.features-card-description {
  width: 300px;
  height: 112px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.85;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.features-card-icon-container {
  width: 52px;
  height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.features-card-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: black;
  position: absolute;
  width: 52px;
  height: 52px;
  right: 10px;
  top: 10px;
  background: #FFFFFF;
  border-radius: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.features-card-icon:hover {
  background-color: #eee;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .features-cards {
    flex-direction: column;
    align-items: center;
  }

  .features-card {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .section-container {
    padding: 20px;
  }

  .cards {
    gap: 20px;
    overflow-x: auto; 
    flex-wrap: nowrap
  }

  .features-cards {
    flex-direction: column;
    align-items: center;
  }

  .features-card {
    width: 70%;
    max-width: 100%;
    padding: 15px;
    height: auto;
  }

  .features-card-content {
    align-items: center;
  }

  .features-card-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .features-card-description {
    font-size: 0.8rem;
    text-align: center;
  }

  .features-card-icon-container {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding: 20px;
  }

  .headline h1 {
    font-size: 1.8rem;
  }

  .headline p {
    font-size: 0.9rem;
  }

  .tagline p {
    font-size: 0.8rem;
  }

  .features-tagline {
    font-size: 1rem;
  }

  .cards {
    gap: 15px;
  }

  .features-card {
    width: 80%;
    padding: 10px;
  }

  .features-card-title {
    font-size: 1rem;
  }

  .features-card-description {
    font-size: 0.7rem;
  }
}
